/* bleu: #0D619A
noir: #ffffff 
vert: #157359 
orange: #f5c159 
Typographie: 'Roboto', sans-serif */
/* PAGES D'ACCEUIL */



body {
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les tablettes ici */
}

/* Styles pour les téléphones mobiles */
@media screen and (max-width: 767px) {
    #Icon {
        width: 50px;
        align-items: center;
        position: absolute;
        right: 10%;
    }

    /* Ajoutez vos styles spécifiques pour les téléphones mobiles ici */
    #decal li {
        display: none;
    }

    #post {
        display: none;
    }
}


@media screen and (min-width: 1200px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les écrans larges ici */

}


body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header {
    background-image: url(../images/CBD.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

nav {
    display: flex;
    list-style-type: none;
    /* pas de puces */
}


nav a {
    color: white;
    text-decoration: none;
    /*pas de surligneur*/
    text-shadow: 3px 3px 0 #000;
}


img {
    width: 100px;
    /* Modifier cette valeur pour définir la largeur souhaitée */
    /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {

    list-style-type: none;
    /* pas de puces */
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0 #000;
}

br {
    line-height: 8em;
    /* ajuste la hauteur de ligne */
    margin: 10px 0;
    /* ajuste les marges supérieure et inférieure */
}


h2 {
    color: #157359;
    text-align: left;

}

h3,
h4,
h5 {
    color: #f5c159;
}

#post {
    margin-left: auto;
}

#decal {
    display: flex;
    gap: 10%;
}

p {
    color: white;
    font-size: 16px;
    line-height: 1.5;

}

.image1 {
    width: 50%;
}

.image2 {
    width: 50%;

}

.image4 {
    width: 50%;
}

.image1,
.image2,
.image4 {
    float: left;
    margin-right: 10%;
    padding-top: 3%;
}

.text {
    overflow: hidden;
    /* Empêche le texte de se superposer aux images */
    margin: 5%;
    color: #0D619A;
}



/* HEADER */
header {
    background-image: url(../images/CBD.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

nav {
    display: flex;
    list-style-type: none;
    /* pas de puces */

}

nav a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 0 #000;
}

img {
    width: 100px;
    /* Modifier cette valeur pour définir la largeur souhaitée */
    /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {

    list-style-type: none;
    /* pas de puces */
}

#titre {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0 #000;
}

#post {
    margin-left: auto;

}

#decal {
    display: flex;
    gap: 10%;
}

/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les tablettes ici */
}

/* Styles pour les téléphones mobiles */
@media screen and (max-width: 767px) {
    #Icon {
        width: 50px;
        align-items: center;
        position: absolute;
        right: 10%;
    }

    /* Ajoutez vos styles spécifiques pour les téléphones mobiles ici */
    #decal li {
        display: none;
    }

    #post {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les écrans larges ici */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header {
    background-image: url(../images/CBD.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

nav {
    display: flex;
    list-style-type: none;
    /* pas de puces */
}

nav a {
    color: white;
    text-decoration: none;
    /*pas de surligneur*/
    text-shadow: 3px 3px 0 #000;
}

img {
    width: 100px;
    /* Modifier cette valeur pour définir la largeur souhaitée */
    /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {
    list-style-type: none;
    /* pas de puces */
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0 #000;
}

#post {
    margin-left: auto;
}

#decal {
    display: flex;
    gap: 10%;
}















/* Main */
main {
    margin: 1% 20%;
    background-image: url(images\CBD.jpg);
}

.articles {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.bloctxt {
    font-size: 20px;
}

#recents {
    text-align: center;
    color: #157359;
    font-size: 40px;
}

.imgsize {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.titreimg {
    color: #f5c159;
    margin-bottom: -4%;
}

.txtimg {
    color: #0D619A;
}



/* bouton pour les article */

.lire {
    color: rgb(8, 7, 7);
    background-color: #f5c159;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 1px solid;
    border-color: #0D619A;

}

.ctd {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: underline;
}

.date {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* https://www.youtube.com/watch?v=iSWjmVcfQGg&t=2086s */

/* code responsive */
/* Styles pour les écrans larges */
@media screen and (min-width: 1305px) {

    /* Ajoutez vos styles spécifiques pour les écrans larges ici */
    .articles {
        display: flex;
        justify-content: center;
    }

    .bloctxt {
        margin-left: 5%;
    }

}

@media screen and (max-width: 1304px) {

    /* Ajoutez vos styles spécifiques pour les écrans larges ici */

    .articles {
        justify-content: center;
        flex-wrap: wrap;
    }

    .bloctxt {
        margin-top: 1%;
        text-align: center;
        margin-left: 0%;
    }
}








/* mon footer */
footer {
    background-color: #0D619A;
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    font-family: 'Roboto', sans-serif;
}

/* .F c'est la div qui contient tout les lien du footer */
.F {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 1% 5%;
}

/* .foot c'est la class des 3 mini footer */

.foot {
    justify-content: space-around;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0;
    margin: 10px;
    width: 60%;
}

/* jai du faire un semblant de hr avec une div pour pouvoir donner la color black */
#hr {
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* .DL c'est la class de la div qui contient le copyright */
.DL {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}

/* .foot h3 c'est pour viser le titre  */
.foot h3 {
    text-align: center;
}

/* pour enlever la decoration */
.foot ul {
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 10px;
}

.foot li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* je prepare le responsivité jus en dessous */

@media (max-width: 800px) {
    .foot {
        margin: 10px;
        width: 90%;
        background-color: #f5c159;
        color: #000000;

    }

    .foot ul {
        padding: 10px;

    }

    .foot li a {
        color: #000;
    }

    .DL {
        text-align: center;
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

    .hr {
        border-top: 1px solid #000000;
        margin: 20px 0;
        background-color: rgb(6, 5, 5);
    }

    .foot h3 {
        font-size: 16px;
    }

    .F {
        justify-content: center;
        flex-wrap: wrap;
    }
}





/* Main Contact */
contmain {
    margin: 5% 20%;
    display: flex;
    justify-content: center;
}

#contformulaire {
    color: #0D619A;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 600px;
}

.continputtaille {
    width: 300;
    margin-bottom: 20px;
}

.continputcolor {
    transition: 1s;
}

.continputcolor:hover {
    background-color: #157359;
    color: white;
}

#contbutton {
    width: 100px;
    color: #0D619A;
    margin-top: 20px;
    transition: 1s;
}

#contbutton:hover {
    width: 100px;
    color: white;
    margin-top: 20px;
    background-color: #157359;
}




/* PAGES articles.html */

/* css creation_article */

#creamain {
    margin: 5% 10%;
}

<<<<<<< HEAD
#creaformulaire {
=======
HEAD #creaformulaire {
>>>>>>> 99a8030ad64ffacf7888f049e8308754430e6110
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    color: #f5c159;
}

#creafond {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

#creaimage {
    margin-top: 5%;
    width: 300px;
}



/* bleu: #0D619A
noir: #ffffff 
vert: #157359 
orange: #f5c159 
Typographie: 'Roboto', sans-serif */
/* PAGES D'ACCEUIL */
body {
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header {
    background-image: url(../images/CBD.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

nav {
    display: flex;
    list-style-type: none;
    /* pas de puces */

}

nav a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 0 #000;
}

img {
    width: 100px;
    /* Modifier cette valeur pour définir la largeur souhaitée */
    /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {

    list-style-type: none;
    /* pas de puces */
}

#titre {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0 #000;
}

#postArticles {
    margin-left: auto;

}

#decalArticles {
    display: flex;
    gap: 10%;
}

/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les tablettes ici */
}

/* Styles pour les téléphones mobiles */
@media screen and (max-width: 767px) {
    #Icon {
        width: 50px;
        align-items: center;
        position: absolute;
        right: 10%;
    }

    /* Ajoutez vos styles spécifiques pour les téléphones mobiles ici */
    #decal li {
        display: none;
    }

    #post {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #Icon {
        display: none;
    }

    /* Ajoutez vos styles spécifiques pour les écrans larges ici */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header {
    background-image: url(../images/CBD.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

nav {
    display: flex;
    list-style-type: none;
    /* pas de puces */
}

nav a {
    color: white;
    text-decoration: none;
    /*pas de surligneur*/
    text-shadow: 3px 3px 0 #000;
}

img {
    width: 100px;
    /* Modifier cette valeur pour définir la largeur souhaitée */
    /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {
    list-style-type: none;
    /* pas de puces */
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0 #000;
}

#post {
    margin-left: auto;
}

#decal {
    display: flex;
    gap: 10%;
}
